.button {
  font: inherit;
  border: 1px solid gray;
  background: black;
  color: white;
  padding: 0.4rem 2rem;
  cursor: pointer;
  border-radius: 5px;
}
button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
