.Table {
  min-width: 900px;
}
.TableRow {
  /* background-color: black; */
  color: rgb(182, 28, 28);
}

.TableCell {
  color: rgb(204, 25, 25);
  /* background-color: black; */
}

.courseImg {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 600px) {
  .Table {
    min-width: 400px;
  }
}
