.section {
  width: 24rem;
  height: 85%;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}

.Tab {
  width: 300;
  color: "success.main";
}